@import url('https://fonts.googleapis.com/css2?family=Sora:wght@100..800&display=swap');


/* Reset some default styles */
body {
    max-width: 1280px;
    margin: 0;
    padding: 0;
    background-color: #FAFAF9;
}

a {
    text-decoration: none;
    color: inherit;
}

* {
    box-sizing: border-box;
    font-family: "Sora", sans-serif;
}

/*  styles for body*/


